body{
 font-family: 'visueltregular', 'readerregular', 'Source Sans Pro', sans-serif;
 padding-left: 10px;
 font-size: 17px;
 color: #38383d;
}

@font-face {
  font-family: 'ReaderBold';
  src: url('../fonts/Reader-Bold.otf');
}

@font-face {
  font-family: 'visueltregular';
  src: url('../fonts/visuelt_regular-web-webfont.woff2') format('woff2'),
       url('../fonts/visuelt_regular-web-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

h1{
  font-size: 28px;
}

h2{
  font-family: 'visueltregular';
  font-size: 20px;
  font-weight: bold;
}

a{
  color: #0234fc;
}

a:hover{
  color: #0234fc;
}

img{
  width: 100%;
}

.container{
  max-width: 1440px;
  padding-bottom: 20px;
  padding-top: 30px;
}

.empty-row{ height: 0px; }
.misc{ height:300px}

.hover{
  opacity: 1;
   transition: opacity 0.3s linear;
   -webkit-transition: opacity 0.3s linear;
   -moz-transition: opacity 0.3s linear;
 }
.hover:hover {
  opacity: 0.8
}


.title{
  font-size:28px;
}


.wrapper {
  height: 5px;
  width: 100%;
  left:0;
  top: 0;
  position: fixed;
  z-index: 999;

  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;

  -webkit-animation: rainbow 18s ease infinite;
  -z-animation: rainbow 18s ease infinite;
  -o-animation: rainbow 18s ease infinite;
  animation: rainbow 18s ease infinite;}

  @-webkit-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-moz-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @-o-keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
  @keyframes rainbow {
      0%{background-position:0% 82%}
      50%{background-position:100% 19%}
      100%{background-position:0% 82%}
  }
